<h1 class="mt-4">Temperature</h1>

<%= line_chart(
  @temperatures.group_by(&:meter).map { |meter, measures|
    { name: meter.device_name, data: measures.map { |measure| [measure.created_at_rounded, measure.datum] } }
  }
) %>

<h1 class="mt-4">Humidty</h1>

<%= line_chart(
  @humidity.group_by(&:meter).map { |meter, measures|
    { name: meter.device_name, data: measures.map { |measure| [measure.created_at_rounded, measure.datum] } }
  }
) %>
